{# empty Twig template #}

{#{{drupal_dump(content)}}#}

{% if store_gcm_url  and logged_in %}
    {% set store_url = store_gcm_url %}
{% else %}
    {% set store_url = store_landing_url %}
{% endif %}

<section class="top-deal-sec">
    <div class="container">
        <div class="top-deal">
            <table class="pb-5">
                <tr>
                    <td class="title-1">Discounted Vouchers </td>
                    <td style="text-align:right;" class="link-1 link-btn "><a  onclick="postVouchersViewAllClicked();"  >View All</a></td>
                </tr>
            </table>

            <div class="vouchers-card-box Offer-hover">
                {% for key, row in content %}
                    {% for key2, data in row.data %}
                        {% if data.field_store!=''%}
                            {#{{drupal_dump(data)}}#}
                            <table class="vouchers-table" cellpadding="0" cellspacing="0">
                                <tr>                                   
                                    <td class="logo-box">
                                         {% if data.field_special_offer  %}
                                        <div class="vouchers-Offer">Special Offer </div>
                                         {% endif %}
                                        <img src="{{data.field_image}}" alt="fundle">
                                    </td>
                                    <td class="vouchers-dsc">
                                    <div class="ma-vouchers-title">{{data.title}}</div>
                                    <div class="ma-vouchers pt-5">{{data.body | raw}} 
                                      {# <a href="{{store_url}}{{discount_url}}{{data.field_external_url}}">view more</a> #}
                                    </div> 
                                    </td>
                                    <td class="text-right vouchers-link">
                                        <div class="text-14 bold">Save {{data.field_discount}}%</div>
                                        <div class=" pt-5">
                                        <a {#href="{{store_url}}{{data.field_discount_type}}{{data.field_external_url}}"#} onclick="postVouchersViewAllClickedBUY('{{data.title}}');" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>                            
                        {% endif %}
                    {% endfor%}
                {% endfor%}   
            </div>

        </div>
    </div>
</section>
                    
{#<div class="steps clear">
  <div class="container">
      {% for key, row in content %}
         <div class="fb-row">
            {% for key2, data in row.data %}
                    
              {% if data.field_store!=''%}
                {% if data.field_special_offer  %}
                  <div class="fb-col-5">
                     
			       <div class="vouchers-card-box Offer-hover">
                      <a href="{{store_url}}{{discount_url}}{{data.field_external_url}}?store_id={{current_store_id}}" target="_blank">
                        <table class="vouchers-table" cellpadding="0" cellspacing="0">
                          <tr>
                           <td class="logo-box">
				    
                             <div class="vouchers-Offer">Special Offer</div>
                   
				                <img src="{{data.field_image}}" alt="Lifafa">
				            </td>
                             <td class="vouchers-dsc"><div class="ma-vouchers-title">{{data.title}}</div><div class="ma-vouchers pt-5">{{data.body | raw}}</div></td>
                             <td class="text-right vouchers-link">
                               {% if data.field_discount %}
                                 <div class="text-14 bold">Earn {{data.field_discount}}%</div>
                               {% endif %}
                                 {% if discount_url == "-01" %}
                                  <div class=" pt-5"><a href="{{store_url}}{{discount_url}}{{data.field_external_url}}?store_id={{current_store_id}}" class="btn btn-primarybtn">Redeem</a></div></td>
                                 {% else %}
                                  <div class=" pt-5"><a href="{{store_url}}{{discount_url}}{{data.field_external_url}}?store_id={{current_store_id}}" class="btn btn-primarybtn">Buy Now</a></div></td>
                                {% endif %}
                            </td>
                          </tr>

                       </tbody></table>

                      </a>
                 </div>
              </div>   
                    
              {% else %} 
                <div class="fb-col-5">
			      <div class="vouchers-card-box">
                     <a href="{{store_url}}{{discount_url}}{{data.field_external_url}}?store_id={{current_store_id}}" target="_blank">
                        <table class="vouchers-table" cellpadding="0" cellspacing="0">
                         <tr>
                          <td class="logo-box">
				   
                              <img src="{{data.field_image}}" alt="Lifafa">
				           </td>
                            <td class="vouchers-dsc"><div class="ma-vouchers-title">{{data.title}}</div><div class="ma-vouchers pt-5">{{data.body | raw}}</div></td>
                            <td class="text-right vouchers-link">
                              {% if data.field_discount %}
                                <div class="text-14 bold">Earn {{data.field_discount}}%</div>
                              {% endif %}
                               {% if discount_url == "-01" %}
                                <div class=" pt-5"><a href="{{store_url}}{{discount_url}}{{data.field_external_url}}?store_id={{current_store_id}}" class="btn btn-primarybtn">Redeem</a></div></td>
                              {% else %}
                                 <div class=" pt-5"><a href="{{store_url}}{{discount_url}}{{data.field_external_url}}?store_id={{current_store_id}}" class="btn btn-primarybtn">Buy Now</a></div></td>
                              {% endif %}
                           </td>
                          </tr>

                         </tbody></table>
                      </a>
                    </div>
                 </div> 
                {% endif %}  
              {% endif %}
            {% endfor%}
         </div>
    {% endfor%}
     {% if gcm_viewall %}
        <div class="text-center  pb-30 clear">
            <a href="{{store_url}}{{discount_url}}{{gcm_type}}?store_id={{current_store_id}}" class="btn btn-primary" target="_blank">View All </a>
        </div>
     {% endif %}
    </div>
</div>#}




