
{#<div class="column column-25 column-p20">
<div class="icon-box text-center">
<a href="{{fields.field_external_url.content}}">
 {{fields.field_content_image.content}}
  <div class="icon-box-title pt-20"><h4>{{fields.title.content}}</h4>
  <div class="text-2">{{fields.body.content}} </div>
  </div>
  </a>
</div>
</div>#}

<div class="column column-25 column-p20">
<div class="icon-box img-set text-center ">
<a href="{{fields.field_external_url.content}}">
  <div class="img-set"> {{fields.field_content_image.content}}</div>
  <div class="icon-box-title pt-20"><h4>{{fields.title.content}}</h4>
  <div class="text-2">{{fields.body.content}}​</div>
  </div>
  </a>  
</div>
</div>