
<div class="grid-item top-deal dept-vegas-mall pb-10 pt-15 " data-dept="Vegas Mall">
               <div class="text-14 link-1 pb-10">{{fields.field_mall.content}}</div>
            <div class="bold text-12 pb-5">{{fields.field_header.content}} </div>
      <div class="bold text-12 pb-5">{{fields.field_sub_header.content}}​ </div>
     <div class="text-10 text-box">
        {{fields.body.content}}
    </div>
</div>
{% if fields.field_header2.content %}
<div class="how-earn">
            <div class="redemption-tab">
               <div class="set ">
                  <a class="tab-link">
                  <h5 class="text-12">{{fields.field_header2.content}}</h5>
                     <span class="a-icon"></span>
                  </a>
                  {{fields.field_offer_description.content}}
               </div>
            </div>
</div>
{% endif %}