<section class="top-deals-sec">
    <div class="container">
        <div class="top-deals">
            <div class="title-1">
                {{node.getTitle}}
            </div>
            <div class="top-deals-img">
                <div class="top-deals-img-dsc-top">
                    <div class="dsc">{{node.getTitle}}</div>
                    <div class="valid">{{content.field_date}}</div>
                </div>

                 {{content.field_main_image}}

                <div class="top-deals-img-dsc">
                    <div class="dsc">{{content.field_discount}} % Off</div>
                    <div class="dsc">Laughter Store, Vegas Mall</div>
                    <div class="valid">Standup Comedy</div>
                    <div class="valid">₹ 200.00</div>
                </div>
            </div>
            <div class="title-2"> About the offer </div>
            <div class="dsc">
                {{content.field_discount}}% Off
            </div>	 
        </div>
    </div>
</section>
<section class="more-details-sec">
    <div class="container">
        <div class="more-details">
            <div class="title-2"> Terms & Conditions </div>
            <div class="dsc">
                {{content.field_terms_and_conditions}}  
            </div>	 

        </div>
    </div>
</section>
<section class="top-deals-sec">
    <div class="container">
        <div class="top-deals-info">
            <div class="title-2 "> More Details </div>
            <table>
                <tr>
                    <td>Event Id:</td> <td style="text-align:right;">{{content.field_event_id}}</td>
                </tr>
                <tr>
                    <td>Date:</td> <td style="text-align:right;">{{content.field_date}}</td>
                </tr>
                <tr>
                    <td>Time:</td> <td style="text-align:right;">{{content.field_date}}</td>
                </tr>
                <tr>
                    <td>Venue:</td> <td style="text-align:right;">{{content.field_date}}</td>
                </tr>
                <tr>
                    <td>Price:</td> <td style="text-align:right;">₹ {{content.field_price}}</td>
                </tr>   
            </table> 
        </div>
    </div>
</section>
<section class="user-login text-center">
    <div class="container">
        <div class="form-row"><input type="submit" value="Book" class="btn btn-primary"></div>
        <div class="form-row back-btn"><a href="javascript:history.go(-1)"> Back </a></div>
    </div>
</section>
