<section class="points-sec top-deal">
    <div class="container p-10">
        <div class="rd-points rd-black text-center">
            <div class="point-icon"><img alt="fundle" data-entity-type="file" data-entity-uuid="cccccf75-29e2-4b49-a3b4-5daa1369e3d2" src="{{ base_path ~ directory }}/images/Path-1754.png" /></div>
            <h2>{{content.points}} Points</h2>
            <table>
                <tbody>
                    <tr>
                        <td class="points-icon">
                           {# <div class="points-icon-box {{content.point_color}}"> #}
                            <div class="points-icon-box  bl-w ">
                            <img alt="fundle" data-entity-type="file" data-entity-uuid="1ebdb2df-8203-4e2c-aaa4-24b62c4cdb37" onclick="postRedeemOneClickedToRN();" src="{{ base_path ~ directory }}/images/ic-55.png" /></div>
                            <div class="text-1">Redeem</div>
                        </td>
                        <td class="points-icon">
                          {#  <div class="points-icon-box {{content.point_color}}"> #}
                           <div class="points-icon-box  bl-w ">
                            <img alt="fundle" data-entity-type="file" data-entity-uuid="c3048bfb-a2bb-47ac-b4b7-840428198a44" onclick="postJwtToRN();" src="{{ base_path ~ directory }}/images/Union-56.png" /></div>
                            <div class="text-1"><span style="padding-left:7px;"> Earn Points </span></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>