{# empty Twig template #}
<section class="header-main-landing2">    
    <header class="header-top-nav">
        <div class="container" style="max-width: 1340px;">
            <div class="top-nav ">
                
                <div class="logo-hone-center">                    
                    <a href="/jai_kisaan_achievers_club"><img src="{{comapany_logo}}" alt="logo"></a>
                </div>
                <div class="menu-right">
                    
                </div>
            </div>
        </div>
    </header>
    
</section>

<div class="steps clear">
<div class="container terms-of-use mt-50 mb-50">

<h4 class="terms-title text-center mt-20 mb-20">Jai Kisaan Achievers Club
<br/>
<br/>
<a href="/jai_kisaan_achievers_club">www.lifafa.com/jai_kisaan_achievers_club</a><br/>
<hr>
Terms and Conditions</h4>
<hr>
<p>1. The Points allotted to the dealers can only be redeemed using Jai Kisaan achievers club portal.</p>

<p>2. The points cannot be exchanged for cash.</p>

<p>3. Credit note can be issued to the dealer upon ZFHL’s discretion.</p>

<p>4. Every Dealer participating in the Program hereby agrees and acknowledges that the information given by him/her can be entered into the database and put to use by Lifafa and ZFHL and its affiliates.</p>

<p>5. Points required to redeem on reward items are approximate and subject to change without prior notice.</p>

<p>6. Details of reward programme can be obtained from Lifafa’s Customer Care Center at the time when the redemption window opens.</p>

<p>7. Points earned can only be redeemed during the redemption window of 15 days starting in October.</p>

<p>8. The Points, Rewards, Gift Vouchers etc. earned in the Rewards Program are non-endorsable, non- transferable.</p>

<p>9. Once the Gift voucher has been sent to you, please treat the voucher number as confidential. In the event of any misuse of Gift voucher due to loss of any such confidential details due to the fault of the redeemer, Lifafa and ZFHL shall not be responsible for the same and no refund will be issued.</p>

<p>10. The validity of Gift vouchers will not be extended. New vouchers will not be provided against the expired/unused vouchers.</p>

<p>11. Any guarantee or warranty of the Reward mentioned in the program is the sole responsibility of the respective manufactures only. Lifafa and ZFHL makes no warranties or representations, either express or implied, with regard to the type, quality or fitness of the reward under this program.</p>

<p>12. The Gift Voucher you receive is redeemable for goods or services by the seller of such goods and services, or the Service Provider. The Service Provider, not Lifafa, is the seller of the goods and services and is solely responsible for redeeming any Gift Voucher you receive.</p>

<p>13. The Gift voucher mail shall have the necessary redemption instructions on it. The Gift Voucher may have an offer period, or expiry date, mentioned on it. You shall use it accordingly.</p>

<p>14. Unless otherwise stated, you will not be entitled to receive credit or cash-back for whatever value of the Gift Voucher you don't use.</p>

<p>15. Unless otherwise stated, you cannot combine the Gift Voucher offer with other special offers or promotions that may be on.</p>

<p>16. In case of non- availability of a particular Reward Item, Lifafa reserves the right to offer a similar option of an equivalent value.</p>

<p>17. Unless there is something wrong with the purchase or an error attributable to us, we do not offer refunds. Gift Voucher once redeemed are non-refundable, whether you use it or not. In case of a refund, Lifafa reserves the right to levy or not levy transaction fees.</p>

<p>18. Neither Lifafa nor ZFHL shall have any liability in the event you lose your Gift Voucher at the Service Provider venue.</p>

<p>19. Lifafa is merely the aggregator of deals and issuer of usable Gift Voucher. The Gift Voucher and the deals are the property of the respective third party Service Provider.</p>

<p>20. Lifafa and ZFHL will not be responsible or liable for any consequential loss or damage or any injury that a dealer may suffer as a result of participation in the program/using the Rewards.</p>

<p>21. In case of any offer related issue, the decision of Lifafa team would be final. Lifafa and ZFHL reserves the rights to edit, change, delete the terms and conditions and offers for the Gift Vouchers at any time without any notice or liability. Any limited period brand offer will be subject to brand's purview and Lifafa can't be held responsible for its fulfilment.</p>

<p>22. Lifafa and ZFHL may ask for identity proof of user who redeems higher value Gift Voucher. Such information will be kept strictly confidential</p>

<p>23. The points allocated to each dealer will be subject to TDS regulations.</p>

<p>24. All taxes and levies applicable as per provisions will be deducted/collected from eligible amount.</p>

<p>25. Lifafa and ZFHL reserves the right to cancel, change or substitute the computations of points or terms and conditions of the program anytime at its sole discretion</p>

 
</div>
     
{% if page.footer_top  %}
   {{ page.footer_top }}
{% endif %}

{% if page.footer_column_1  %}
   {{ page.footer_column_1 }}
{% endif %}
{% if footer_content %}
    {{ footer_content|raw }}
{% endif %}            
{{banner_subheading}}
<footer class="footer login-footer full-width">
    <div class="footer-inner ">
        <div class="copyright text-center ">
            &copy; {{ "now"|date("Y") }} All Rights Reserved
        </div>
      {#  <div class="footer-logo">
            <img src="{{ base_path ~ directory }}/images/footerlogo.png" alt="Lifafa">
        </div> #}
    </div>
</footer>