{# empty Twig template #}
<section class="header-main-landing">    
    <header class="header-top-nav">
        <div class="container" style="max-width: 1340px;">
            <div class="top-nav ">
                <div class="link-hone">
                    
                    {% if logged_in %}
                        <a href="{{store_home_url}}">
                            <img src="{{ base_path ~ directory }}/images/house-black.png" alt="logo">
                        </a>
                    {% else %}
                        <a href="{{base_url}}/user/login?store_id={{field_store_id}}">
                            <img src="{{ base_path ~ directory }}/images/house-black.png" alt="logo">
                        </a>
                    {% endif %}                                        
                </div>
                
                <div class="logo-hone-center">                    
                    <a href="/{{getSelectStoreId}}/home/"><img src="{{comapany_logo}}" alt="logo"></a>
                </div>
                <div class="menu-right">
                    <div  class="user-in user-in-black">
                        <ul>                            
                            {% if logged_in %}
                                <li><a href="{{store_base_url}}">My account</a></li>
                                <li><a href="{{store_home_url}}">My store</a></li>

                                <li><a href="{{logoutUrl}}" title="Logout">Logout</a></li>
                                {% else %}
                                <li><a href="{{base_url}}/user/login?store_id={{field_store_id}}" title="Sign in">Sign in</a></li>
                                    {#{% if external_url %}
                                    <li><a href="{{base_url}}{{external_url}}" title="Sign up">Sign up</a></li>
                                    {% else %}
                                    <li><a href="{{getStoreBaseUrl}}myaccount/{{field_store_id}}/self/register" title="Sign up">Sign up</a></li>
                                    {% endif %}#}
                                {% endif %}                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
</section>

<section class="sec-hv-main">
    <div class="container" style="max-width: 1340px;">
        <div class="sec-hv text-center">
            <div class="sec-hv-img text-center">    
             <div class="banner-inner clear overlay">
                <img src="{{ landing_page_image }}" alt="Lifafa">
                <div class="banner-dsc">
                    <div class="container">
                        <div class="title text-center">
                           {% if logged_in %}
                <a href="{{store_home_url}}" class="btn btn-round">Sign in</a>
                {% else %}
                <a href="{{base_url}}/user/login?store_id={{field_store_id}}" class="btn btn-round"><b>Sign in</b></a>
                {% endif %}  
             <br />
             <br>
                             <h5 style="color:white;"><b>Click the Sign in button to login with your registered mobile number <br>
                              and redeem your points across various brands</h5>
                          
                           
                           
                         
                        </div>
                    </div>
                </div>
    </div>            
             
                
            </div>	

            <div class="container" style="max-width: 1340px;">
                <div class="title-m1 text-center"><b>Welcome to</b></div>
                <div class="title-32 text-center"><b>JAI KISAAN ACHIEVERS CLUB</b></div>
            </div>

           	
    </div>		 
</section>



            
{% if page.footer_top  %}
   {{ page.footer_top }}
{% endif %}


{% if footer_content %}
    {{ footer_content|raw }}
{% endif %}            

<footer class="footer login-footer full-width">
    <div class="footer-inner ">
        <div class="copyright text-center ">
            &copy; {{ "now"|date("Y") }} All Rights Reserved
        </div>
        {# <div class="footer-logo">
            <img src="{{ base_path ~ directory }}/images/footerlogo.png" alt="Lifafa">
        </div> #}
    </div>
</footer>