{# empty Twig template #}
<div class="banner-inner clear">    
    {{content.field_perk_main_banner}}
</div>
<div class="steps clear">
    <div class="container">
        <div class="title text-center">
            <h2>{{node.getTitle}}</h2>
            <span class="link-dsc">{{content.field_perk_category}}</span>
            <span class="loction pb-30">{{content.field_perk_location}}</span>
        </div>
        <div class="content text-center ">
            {{content.body}}            
        </div>
    </div>
</div>
{#<div class="logged-steps clear back-link  pb-30">
    <div class="container">
        <a href="#"> Back </a>
    </div>
</div>#}