 <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                                    <div class="letest-news-item mt-30">
                                        <span>{{fields.created.content}}</span>
                                        <h4 class="title"><a href="{{fields.view_node.content}}"></a>{{fields.title.content}}</h4>
                                        <p>{{fields.body.content}}</p>
                                        <a class="main-btn" href="{{fields.view_node.content}}">Read More <i class="fal fa-long-arrow-right"></i></a>
                                    </div> <!-- lesast news item -->
</div>