<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Email</title>
   </head>
   <body style="margin:0;">
         <style>
         @font-face{font-family:'cs-Segoe UI';src:url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI.eot');src:url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI.eot?#iefix') format('embedded-opentype'),url('../fonts/cs-SegoeUI.woff2') format('woff2'),url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI.woff') format('woff'),url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI.ttf') format('truetype'),url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI.svg#SegoeUI') format('svg');font-weight:normal;font-style:normal;font-display:swap;}
         body{margin:0;color:#000;font-weight:400;font-family:'Roboto Condensed', sans-serif;font-size:20px;outline:none;line-height:1.4; min-height: 100vh;  position: relative;}
         .steps .btn { min-width: 140px;}
      </style>
      <table border="0" cellspacing="0" cellpadding="0" style="background: url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/images/Group-29.jpg') no-repeat top right;  background-size: 100% 100%; max-width: 860px;padding: 40px; min-height: 600px; ">
         <tr>
            <td style="width: 42%; text-align: center;  ">
		<h5 style="  font-family: Arial, Helvetica, sans-serif; font-size: 17px; margin: 0 0 20px 0; text-transform: uppercase; color:#ffffff; line-height: 1.1; text-align: center; ">{{company_name}}</h5>
         <img src="https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/images/Group-33.png" style="width: 85%; margin: 0 0 0 0">
                        <h2 style="  font-family: Arial, Helvetica, sans-serif; font-size: 43px; margin: 0 0 0 0; text-transform: uppercase; color:#ffffff; line-height: 1.1; text-align: center; ">{{award_name}}</h2>
						    <img src="https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/images/Group-33.png" style="width: 85%; margin: 0 0 0 0">
			</td>
            <td style="width: 58%; padding: 120px 0 0 40px;">
               <table>
                  <tr>
                     <td style="padding: 0px; width: 55%; text-align: center; ">

                        <p style=" font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin: 0 0 30px 0; text-transform: uppercase; color:#262425; line-height: 1.4; text-align: center;">THIS CERTIFICATE IS PRESENTED TO</p>
                        <h2 style="font-family: Arial, Helvetica, sans-serif; font-size: 39px; margin: 0 0 20px 0; color:#262425; line-height: 1.1; text-align: center; border-bottom: 1px solid #000000; padding-bottom: 30px; ">{{recipient_name}}</h2>
						<h6 style="font-family:'cs-Segoe UI bold'; font-size: 12px; margin: 0 0 15px 0; text-transform: uppercase; color:#262425; line-height: 1.2; text-align: center; ">{{award_heading}}</h6>
                        <pre style="font-family:'cs-Segoe UI'; font-size: 10px; margin: 0 0 120px 0;  color:#262425; line-height: 1.5; text-align: center; letter-spacing: 1px; ">{{award_body|raw}}</pre>
                        <table style="width:100%; padding: 0 50px ">
                           <tr>
                              <td style="width:120px; ">
                                 <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin: 0 0 10px 0; padding-bottom: 5px;  color:#262425; line-height: 1.4; text-align: center;   letter-spacing: 2px; border-bottom: 1px solid #000000; text-transform: uppercase; font-weight: 700;  ">{{award_date}}</p>
                                 <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin: 0 0 0 0;  color:#262425; line-height: 1.4; text-align: center; ">Date</p>
                              </td>
                              <td style="width:60px; "></td>
                              <td style="width:120px; ">
                                 <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin: 0 0 10px 0;  padding-bottom: 5px; color:#262425; line-height: 1.4; text-align: center; border-bottom: 1px solid #000000; ; text-transform: uppercase; font-weight: 700; ">{{sender_name}}</p>
                                 <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin: 0 0 0 0;  color:#262425; line-height: 1.4; text-align: center; text-transform: uppercase;  ">SENDER NAME</p>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </body>
</html>