<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Email</title>
   </head>
   <body style="margin:0;">
      <style>
         @font-face{font-family:'cs-Segoe UI';src:url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI.eot');src:url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI.eot?#iefix') format('embedded-opentype'),url('../fonts/cs-SegoeUI.woff2') format('woff2'),url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI.woff') format('woff'),url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI.ttf') format('truetype'),url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI.svg#SegoeUI') format('svg');font-weight:normal;font-style:normal;font-display:swap;}
         body{margin:0;color:#000;font-weight:400;font-family:'Roboto Condensed', sans-serif;font-size:20px;outline:none;line-height:1.4; min-height: 100vh;  position: relative;}
         .steps .btn { min-width: 140px;}
         @font-face{font-family:'cs-Segoe UI bold';src:url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI-Bold.eot');src:url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/cs-SegoeUI-Bold.woff2') format('woff2'),url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI-Bold.woff') format('woff'),url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI-Bold.ttf') format('truetype'),url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/fonts/cs-SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');font-weight:bold;font-style:normal;font-display:swap;}
      </style>
      <table border="0" cellspacing="0" cellpadding="0" style="background: url('https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/images/Group-109.jpg') no-repeat top right; background-size: 100% 100%; max-width: 860px; min-height: 600px; ">
         <tr>
            <td style="width: 20%; padding: 50px 0 0 40px; vertical-align: top;"><img src="https://lifafa.team/sites/lifafa.team/themes/custom/lifafa/images/Group-105.png" style="width: 185px; margin: 0 0 20px 0"></td>
            <td style="padding: 40px 130px 40px  0; width: 80%;">
               <table>
                  <tr>
                     <td style="padding: 0px; width: 55%; text-align: center; ">
                        <h5 style="font-family:'cs-Segoe UI'; font-size: 24px; margin: 0 0 25px 0; text-transform: uppercase; color:#303D4E; line-height: 1.1; text-align: center; ">{{company_name}}</h5>
                        <h2 style="font-family:'cs-Segoe UI'; font-size: 60px; margin: 0 0 40px 0; text-transform: uppercase; color:#C67C3B; line-height: 1.1; text-align: center;    font-weight: 400;">{{award_name}}</h2>
                        <p style="font-family:'cs-Segoe UI'; font-size: 14px; margin: 0 0 40px 0;  color:#303D4E; line-height: 1.4; text-align: center; text-transform: uppercase;   letter-spacing: 1px; ">THIS CERTIFICATE IS PROUDLY PRESENTED TO:</p>
                        <h2 style="font-family:'cs-Segoe UI'; font-size: 56px; margin: 0 0 25px 0;  color:#C67C3B; line-height: 1.1; text-align: center; border-bottom: 1px solid #DBA869; padding-bottom: 10px;     font-weight: 400;">{{recipient_name}}</h2>
						<h6 style="font-family:'cs-Segoe UI bold'; font-size: 12px; margin: 0 0 15px 0; text-transform: uppercase; color:#526885; line-height: 1.2; text-align: center; ">{{award_heading}}</h6>
                        <pre style="font-family:'cs-Segoe UI'; font-size: 12px; margin: 0 0 50px 0;  color:#526885; line-height: 1.5; text-align: center; ">{{award_body|raw}}</pre>
                        <table style="width:400px; margin:0 auto; ">
                           <tr>
                              <td style="width:150px; ">
                                 <p style="font-family:'cs-Segoe UI'; font-size: 14px; margin: 0 0 10px 0; padding-bottom: 10px;  color:#303D4E; line-height: 1.4; text-align: center;   letter-spacing: 1px; border-bottom: 1px solid #DBA869; text-transform: uppercase; font-weight: 700;  ">{{award_date}}</p>
                                 <p style="font-family:'cs-Segoe UI'; font-size: 14px; margin: 0 0 0 0;  color:#303D4E; line-height: 1.4; text-align: center;   letter-spacing: 1px; text-transform: uppercase; ">Date</p>
                              </td>
                              <td style="width:100px; "></td>
                              <td style="width:150px; ">
                                 <p style="font-family:'cs-Segoe UI'; font-size: 14px; margin: 0 0 10px 0;  padding-bottom: 10px; color:#303D4E; line-height: 1.4; text-align: center;   letter-spacing: 1px; border-bottom: 1px solid #DBA869;  text-transform: uppercase; font-weight: 700;  ">{{sender_name}}</p>
                                 <p style="font-family:'cs-Segoe UI'; font-size: 14px; margin: 0 0 0 0;  color:#303D4E; line-height: 1.4; text-align: center;   letter-spacing: 1px; text-transform: uppercase; ">Sender Name</p>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </body>
</html>