<!--<div class="icon-box-col flex-column column-33 ">
    <div class="icon-box text-center flex-column vertical-middle">
        <a href="#">
            {{fields.field_image.content}}
            <div class="icon-box-title"><h4>{{fields.title.content}}</h4></div>
        </a>
    </div>
</div>
-->
<div class="icon-box-col flex-column column-33 ">
    <div class="icon-box text-center flex-column ">
    <a href="#">
      <div class="icon-box-title-top"> <h4> {{fields.title.content}} </h4></div>
             {{fields.field_image.content}}
      <div class="icon-box-title">{{fields.body.content}}</div>
      </a>
    </div>
</div>
