<div class="rewards-box">
    {% if fields.field_external_url.content and fields.field_external_url.content!='yes'  %}
        {% set redirect_url = store_gcm_url~fields.field_external_url.content %}
        
        <a href="{{redirect_url}}" > 
            <div class="re-box-sd">
                {% if fields.field_coming_soon.content=='On' %}
                    <div class="c-soon"><img src="{{ base_path ~ directory }}/images/Coming-soon" alt="Lifafa"></div>
                    {% endif %}
                    {% if fields.field_banner.content %}
                        {{fields.field_banner.content}}
                    {% endif %}
                <div class="rewards-dsc text-center">
                    <h4>{{fields.title.content}}</h4>
                    <p>{{fields.body.content}}</p>
                </div>
            </div>
        </a>
    {% elseif fields.field_external_url.content=='yes' %}
        
        <a href="{{fields.view_node.content}}" title="{{fields.title.content}}"  >
            <div class="re-box-sd">
                {% if fields.field_coming_soon.content=='On' %}
                    <div class="c-soon"><img src="{{ base_path ~ directory }}/images/Coming-soon.png" alt="Lifafa"></div>
                    {% endif %}
                    {% if fields.field_banner.content %}
                        {{fields.field_banner.content}}
                    {% endif %}
                <div class="rewards-dsc text-center">
                    <h4>{{fields.title.content}}</h4>
                    <p>{{fields.body.content}}</p>
                </div>
            </div>
        </a>
                 
     
      {% else %}   
        
        <div class="re-box-sd">
        {% if fields.field_coming_soon.content=='On' %}
            <div class="c-soon"><img src="{{ base_path ~ directory }}/images/Coming-soon.png" alt="Lifafa"></div>
            {% endif %}
            {% if fields.field_banner.content %}
                {{fields.field_banner.content}}
            {% endif %}
        <div class="rewards-dsc text-center">
            <h4>{{fields.title.content}}</h4>
            <p>{{fields.body.content}}</p>
        </div>
        </div>
    {% endif %}
</div>