{# empty Twig template #}

<div class="banner-inner clear">
    {{content.field_page_banner}}
    <div class="banner-dsc"> 
        <div class="container ">
            <div class="title text-center">
                <h2>{{content.field_banner_title}}</h2>
                <div class="text-1">{{content.field_banner_description}}</div>
            </div>
        </div>
    </div>
</div>

<div class="steps clear">
    <div class="container container-1500">
        <div class="top-border"></div>
        <div class="title text-center">
            <h2>{{node.getTitle}}</h2>
            <div class="text-1">{{content.field_sub_heading}}</div>
        </div>
    </div>
</div>


{{content.body}}

