<div  class="se-country">
     <div  class="user-in flag-icon flag-{{country_code}}">
     
 <ul>
<li class="fl-in"><a href="{{base_url}}/in"><img src="{{base_path ~ directory}}/images/in-flag.png" alt="logo"></a></li>
<li class="fl-uk"><a href="{{base_url}}/uk"><img src="{{base_path ~ directory}}/images/uk-flag.png" alt="logo"></a></li>
</ul>
</div>
</div>