{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{#{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
    {% for value in content %}
        <p>{{value}}</p>
    {% endfor %}
</div>#}
{#<div class="steps clear">
    <div class="container">
        <div class="text-center ">
            {% if logged_in %}
                <a href="{{store_home_url}}" class="btn btn-primary"  title="">Login</a>
            {% else %}
                <a href="{{base_url}}/user/login" class="btn btn-primary">Login</a>
            {% endif %}
        </div>
    </div>
</div>#}
<div class="banner-btn">
    {% if logged_in %}
       {# <a href="{{base_url}}/book-demo" class="btn btn-primary">Sign up</a>#} <a href="{{store_home_url}}" class="btn btn-primary">Sign in</a>
    {% else %}
       {# <a href="{{getStoreBaseUrl}}myaccount/{{field_store_id}}/self/register" class="btn btn-primary">Sign up</a>#} <a href="{{base_url}}/user/login?store_id={{content}}" class="btn btn-primary">Sign in</a>
    {% endif %}

</div>