{# empty Twig template #}
<div class="banner-inner clear">
    <div class="banner-slider">
        <div class="item">
            <img src="{{ base_path ~ directory }}/images/PerksCoffeeBanner-2.jpg" alt="Lifafa">
        </div>
       {# <div class="item">
            <img src="{{ base_path ~ directory }}/images/PerksHerobannerDomino.jpg" alt="Lifafa">
        </div>#}
        <div class="item">
            <img src="{{ base_path ~ directory }}/images/PerksPizzaBannerw.jpg" alt="Lifafa">
        </div>       
       {# <div class="item">
            <img src="{{ base_path ~ directory }}/images/PerksHerobannerPizza_2.jpg" alt="Lifafa">
        </div>#}
        
        <div class="item">
            <img src="{{ base_path ~ directory }}/images/PerksHerobannerPVR-2.jpg" alt="Lifafa">
        </div>
    </div>
</div>