{# empty Twig template #}
{#<div class="banner-inner clear">
    {% if storedata.store_id =='inbom2105020s01' %}
    <img src="{{storedata.store_banner}}" alt="Lifafa">
    
    {% else %}
        <img src="{{ base_path ~ directory }}/images/shutterstock_1233290437.jpg" alt="Lifafa">
    {% endif %}#}
{#{{drupal_dump(storedata.store_id)}} #}
<div class="banner-inner banner-inner-auto clear">
    <div class="banner-slider">
        
      {# {% if storedata.store_id=='inblr2107001s02' %}#}
           
           {% for row in storedata.store_slider %}
           <div class="item">
            {% if row.banner_url %}
           <a href="{{store_gcm_url}}{{row.banner_url}}">
            <img src="{{row.banner_image}}" alt="Lifafa">
           
            <div class="banner-dsc">
                <div class="container container-full">
                    <div class="title text-center">
                        <h2>{{ row.banner_heading }}</h2>
                        <div class="text-1">{{ row.banner_subheading }}</div>
                    </div>
                </div>
            </div>
            </a>
             {% else %}
              <img src="{{row.banner_image}}" alt="Lifafa">
            <div class="banner-dsc">
                <div class="container container-full">
                    <div class="title text-center">
                        <h2>{{ row.banner_heading }}</h2>
                        <div class="text-1">{{ row.banner_subheading }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %} 
        {#<div class="item">
            <img src="{{ base_path ~ directory }}/images/shutterstock_1109787203.jpg" alt="Lifafa">
            <div class="banner-dsc">
                <div class="container container-full">
                    <div class="title text-center">
                        <h2>Fire up your employee engagement programme</h2>
                        <div class="text-1">Free benefits worth ₹ 2,000 per employee on sign up</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{{ base_path ~ directory }}/images/Wellbeing.jpg" alt="Lifafa">
            <div class="banner-dsc">
                <div class="container container-full">
                    <div class="title text-center">
                        <h2>Fire up your employee engagement programme</h2>
                        <div class="text-1">Free benefits worth ₹ 2,000 per employee on sign up</div>
                    </div>
                </div>
            </div>
        </div>#}
           
          {# {% else %}   #}
               {#<div class="item">
            <img src="{{ base_path ~ directory }}/images/photo6053263981872786658.jpg" alt="Lifafa">
            <div class="banner-dsc">
                <div class="container container-full">
                    <div class="title text-center">
                        {#<h2>Fire up your employee engagement programme</h2>
                        <div class="text-1">Free benefits worth ₹ 2,000 per employee on sign up</div>#}
                    {#</div>
                </div>
            </div>
        </div>#}
        {#{% endif %}   #}
        
    </div>
</div>
     {% if storedata.welcom_message %}   
     <div class="steps clear">
        <div class="container">
            <div class="title text-center">
                <h2>{{storedata.welcom_message}}</h2>                
            </div>
        </div>
     </div>        
    {% endif %}            
 {% if storedata.template_type %}   
          
{% if storedata.store_blocks %}
{% for row in storedata.store_blocks %}  
              
    <div class="steps clear">
        <div class="container container-700">
            <div class="top-border"></div>
            <div class="title text-center">
                {% if row.block_title %}
                    <h2>{{ row.block_title | raw }}</h2>
                    
                {% endif %}
                </div>
                 {% if row.template %}
            <div class="zefl-sec">
			<table class="zefl text-24" cellpadding="0" cellspacing="0">
               <tbody><tr>
                  <td style="vertical-align: bottom;" class="text-right">
                  <div class="zefl-style">
					  <img src="{{ base_path ~ directory }}\images\wlt.png" alt="Lifafa">
				  </div>
                  </td>
                 <td class="zefl-style2">
                 {% if row.block_subtitle %}
                {% for row2 in row.block_subtitle %}                
                   <div class="zefl-title text-center"> {{ row2 | raw }}</div></div>
                 {% endfor %}               
               {% endif %}
                   {% if row.block_footer %}
                 {% for row3 in row.block_footer %}                
                   <div class="zefl-title text-center">{{ row3 | raw }}</div>
                {% endfor %}                               
                {% endif %}
                  </td>
                  <td class="zefl-style1">	
                  	  <img src="{{storedata.rewardTierIcon}}" ></td>
               </tr>

            </tbody></table>
			 </div>
             {% else %}
              {% if row.block_subtitle %}
                {% for row2 in row.block_subtitle %}     

                   <div class="text-1 text-center">{{ row2 | raw }}</div>
                 {% endfor %}               
               {% endif %}
                {% if row.block_footer %}
                 {% for row3 in row.block_footer %}                
                   <div class="text-1 text-center">{{ row3 | raw }}</div>
                {% endfor %}                               
                {% endif %}

         {% endif %}
                
            </div>
        </div>
    </div>                                
    {{ drupal_block(row.block_stores, wrapper=false) }} 
{% endfor %} 
{% endif %} 
      
     {% else %}     
{% if storedata.store_blocks %}
{% for row in storedata.store_blocks %}  
              
    <div class="steps clear">
        <div class="container container-1500">
            <div class="top-border"></div>
            <div class="title text-center">
                {% if row.block_title %}
                    <h2>{{ row.block_title | raw }}</h2>
                    
                {% endif %}
                {% if row.block_subtitle %}
                {% for row2 in row.block_subtitle %}                
                   <div class="text-1"> {{ row2 | raw}}</div>
                 {% endfor %}               
               {% endif %}
                {% if row.block_footer %}
                 {% for row3 in row.block_footer %}                
                   <div class="text-1"> {{ row3 | raw }}</div>
                {% endfor %}                               
                {% endif %}
            </div>
        </div>
    </div>                                
    {{ drupal_block(row.block_stores, wrapper=false) }}
{% endfor %} 
{% endif %} 
{% endif %}
<div class="logged-steps clear back-link  pb-30">
<div class="container"><a href="javascript:history.go(-1)">Back </a></div>
</div>

{#    <div class="banner-dsc">
        <div class="container container-full">
            <div class="title text-center">
                <h2>Fire up your employee engagement programme</h2>
                <div class="text-1">Free benefits worth ₹ 2,000 per employee on sign up</div>
            </div>
        </div>
    </div>
</div>#}