<div class="steps clear pb-30">
         <div class="container">
            <div class="title-30 text-center">
               <strong>Your award has been sent to the recipient.</strong><br>
			   If you would like to add a voucher or a thank-you gift, please select from the options below: 
            </div>
         </div>
<div class="logged-steps clear pb-30">
         <div class="container" style="max-width: 600px;">
		 <div class="row">
            <div class="rewards-marketplace rewards-logged">
               <div class="rewards-box rb-2col">
			    <a href="{{store_baseurl}}/{{current_store_id}}-02/gcm/?store_id={{current_store_id}}"  >
				<div class="re-box-sd">
                  <img src="{{ base_path ~ directory }}/images/pr1.jpg" alt="Lifafa">
                  <div class="rewards-dsc text-center">
                     <h4>Add a gift card</h4>
                  </div>
				  </div>
				</a>	  
               </div>
               <div class="rewards-box rb-2col">
			   <a href="#">
			   <div class="c-soon"><img  src="{{ base_path ~ directory }}/images/Coming-soon.png" alt="Lifafa"></div>
			   	<div class="re-box-sd">
                  <img src="{{ base_path ~ directory }}/images/pr2.jpg" alt="Lifafa">
                  <div class="rewards-dsc text-center">
         <h4>Add a special hamper</h4>
                  </div>
				   </div>
				  </a>
               </div>

            </div>
			   </div>

         </div>
      </div>
      <a href = "/store/%25/send-award">
<div class="submit-btn-row text-center"><input type="submit" value="Continue" class="btn btn-primary"></div>	  
      </div>
      </a>






  