<div class="category-box"> 
    <div class="title-box">
        {{fields.field_perks_banner.content}}
        <div class="box-title text-center">
            {{fields.title.content}}
        </div>
    </div>
    <div class="category-dsc text-center">
        <h5>{{fields.field_perk_category.content}}</h5>
        <span class="loction">{{fields.field_perk_location.content}}</span>
        <p><a href="#"> {{fields.body.content}}</a></p>
    </div>
</div> 