  <footer class="footer-area footer-area-2 footer-area-1 bg_cover" style="background-image: url({{url('<front>')}}themes/omnivus/assets/images/footer-bg.jpg);">
        <div class="footer-overlay">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-4 col-md-7">
                        
                            {{page.footer_column_1}}
                            
                        
                    </div>
                    <div class="col-lg-3 offset-lg-1 col-md-5">
                         {{page.footer_column_2}}
                       
                    </div>
                    <div class="col-lg-4 col-md-6">
                        {{page.footer_column_3}}
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copyright">
                             {{page.copyright}}
                            
                        </div> <!-- footer copyright -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
    </footer>

    <!--====== footer PART ENDS ======-->

    <!--====== BACK TO TOP ======-->
    <div class="back-to-top back-to-top-2">
        <a href="">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>