{# empty Twig template #}
<header class="header-top-nav">
    <div class="top-nav ">
        <div class="link-hone">
            <a href="{{front_page}}"><img src="{{ base_path ~ directory }}/images/house-black.png" alt="logo"></a>
        </div>
        <div class="logo-hone-center">
            <a href="{{front_page}}"><img src="{{ base_path ~ directory }}/images/logo.png" alt="logo"></a>
        </div>
        <div class="menu-right">
            <div  class="user-in">
                <ul>
                    <li><a href="#">My account</a></li>
                    <li><a href="#">My account</a></li>
                </ul>
            </div>
            <div class="s-btn"><img src="{{ base_path ~ directory }}/images/search-icon-m.png" alt="logo"></div>
        </div>
        <div class="search-row clear">
            <div class="search">
                <form class="top-searchbox"><input type="search" name="gsearch" placeholder="Search" class="gsearch"> <input class="submit-btn" type="submit"> </form>
            </div>
        </div>
    </div>
</header>


<div class="banner-inner clear">
    <img src="{{ base_path ~ directory }}/images/shutterstock_243770776.jpg" alt="Lifafa">
    <div class="banner-dsc">
        <div class="container container-full">
            <div class="title text-center">
                <h2>Fire up your employee engagement programme</h2>
                <div class="text-1">Free benefits worth ₹ 2,000 per employee on sign up</div>
            </div>
        </div>
    </div>
</div>

{{ page.main_content }}         

<div class="steps clear">
    <div class="container container-1500">
        <div class="top-border"></div>
        <div class="title text-center">
            <h2>People Recognition</h2>
            <div class="text-1">Our way of saying thank you​
            </div>
        </div>
    </div>
</div>
<div class="logged-steps clear">
    <div class="container container-600">
        <div class="people-row">
            <div class="fb-col-5"><div class="title-box">
                    <img src="{{ base_path ~ directory }}/images/246-05.jpg" alt="Lifafa">
                    <div class="box-title text-center">
                        Nikhil Deshpande​​ 
                    </div>
                </div>
            </div>
            <div class="fb-col-5"><div class="title-box">
                    <img src="{{ base_path ~ directory }}/images/6456-01.jpg" alt="Lifafa">
                    <div class="box-title text-center">
                        Anusha 
                    </div>
                </div>
            </div>
        </div>
        <div class="rewards-marketplace">
            <div class="rewards-box">
                <img src="{{ base_path ~ directory }}/images/shutterstock_792517693.jpg" alt="Lifafa">
                <div class="rewards-dsc text-center">
                    <h4>Send a gift Card to a co-worker​</h4>
                </div>
            </div>
            <div class="rewards-box">
                <img src="{{ base_path ~ directory }}/images/shutterstock_792517693.jpg" alt="Lifafa">
                <div class="rewards-dsc text-center">
                    <h4>Anusha Order a special hamper</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="surveys-steps clear">
    <div class="container container-1500">
        <div class="top-border"></div>
        <div class="title text-center">
            <h2>Surveys</h2>
        </div>
        <div class="surveys-box">
            <div class="surveys-row ">
                <div class="surveys-col s-col-1">
                    <div class="surveys-time">
                        <span>25</span>
                        <span>Mins</span>
                    </div>
                </div>
                <div class="surveys-col s-col-2">
                    <div class="surveys-dsc">
                        <p>Survey Topic</p>
                        <p><strong>Lorem Ipsum Lorem Ipsum </strong></p>
                    </div>
                </div>
                <div class="surveys-col s-col-3">
                    <a href="#" class="btn btn-primary">Take Survey</a>
                </div>
            </div>
            <div class="surveys-row ">
                <div class="surveys-col s-col-1">
                    <div class="surveys-time">
                        <span>25</span>
                        <span>Mins</span>
                    </div>
                </div>
                <div class="surveys-col s-col-2">
                    <div class="surveys-dsc">
                        <p>Survey Topic</p>
                        <p><strong>Lorem Ipsum Lorem Ipsum </strong></p>
                    </div>
                </div>
                <div class="surveys-col s-col-3">
                    <a href="#" class="btn btn-primary">Take Survey</a>
                </div>
            </div>
            <div class="surveys-row ">
                <div class="surveys-col s-col-1">
                    <div class="surveys-time">
                        <span>25</span>
                        <span>Mins</span>
                    </div>
                </div>
                <div class="surveys-col s-col-2">
                    <div class="surveys-dsc">
                        <p>Survey Topic</p>
                        <p><strong>Lorem Ipsum Lorem Ipsum </strong></p>
                    </div>
                </div>
                <div class="surveys-col s-col-3">
                    <a href="#" class="btn btn-primary">Take Survey</a>
                </div>
            </div>
            <div class="surveys-row ">
                <div class="surveys-col s-col-1">
                    <div class="surveys-time">
                        <span>25</span>
                        <span>Mins</span>
                    </div>
                </div>
                <div class="surveys-col s-col-2">
                    <div class="surveys-dsc">
                        <p>Survey Topic</p>
                        <p><strong>Lorem Ipsum Lorem Ipsum </strong></p>
                    </div>
                </div>
                <div class="surveys-col s-col-3">
                    <a href="#" class="btn btn-primary">Take Survey</a>
                </div>
            </div>
        </div>
        <div class="text-center pb-30">
            <a href="#" class="btn btn-primary">View all</a>
        </div>
    </div>
</div>
<footer class="footer login-footer full-width">
    <div class="footer-inner ">
        <div class="copyright ">
            &copy; {{ "now"|date("Y") }} All Rights Reserved
        </div>
        <div class="footer-logo">
            <img src="{{ base_path ~ directory }}/images/Group-891.png" alt="Lifafa">
        </div>
    </div>	
</footer>