{# empty Twig template #}
{#<section class="user-login text-center pb-5">
    <div class="container">
        <div class="user-icon">
            <img src="{{ base_path ~ directory }}/images/gift-card-bl.png" alt="Lifafa">
        </div>
        <h2>Top Deals</h2>
    </div>
</section>#}


{#<div class="logged-steps clear">
    <div class="container">
        <div class="category-filter clear">
            <div class="row">
                {% for row in rows %}
                    {{ row.content }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>#}





{#<section class="mall-listing tpa ">
    <div class="container">#}
{#<form action="" class="trainee-filters">
    <div class="trainee-filter filter row flex-wrap">
        <button id="rf-view-all" class="view-all active" value="*">View by Category</button>
        <fieldset class="custom-input">
            <select name="filtercategory" id="filtercategory" >
                <option value="*">Select Category</option>
                <option value="/fashion">fashion</option>
                <option value="/electronics">electronics</option>
            </select>
        </fieldset>
    </div>
</form>
<div class="search-filters clear" >
    <div class="search">
        <form class="top-searchbox"><input type="search" name="gsearch" placeholder="Search Brand" class="gsearch"> <input class="submit-btn" type="submit"> </form>
    </div>
</div>


<div class="trainee-grid ">
    {% for row in rows %}
        {{ row.content }}
    {% endfor %}
</div>
#}


{#  <div class=" pb-15 back-btn text-center"><a href="javascript:history.go(-1)">Back</a></div>

  #}

{#    </div>
</section>#}

<div class="trainee-grid  view-content">
  <div class="grid-item dept-fashion pb-10 " data-dept="Fashion">
            {% if title %}
            <div class="title-1">{{ title }}</div>
            {% endif %}

            {% for row in rows %}
                {{ row.content }}
            {% endfor %}

     </div>
 </div>