<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".4s">
                    <div class="single-blog mt-30">
                        <ul>
                            <li><i class="fal fa-user"></i> By {{fields.uid.content}}</li>
                        </ul>
                        <h4 class="title"><a href="{{fields.view_node.content}}">{{fields.title.content}}</a></h4>
                        <p>{{fields.body.content}}</p>
                        <a href="{{fields.view_node.content}}"><i class="fal fa-angle-right"></i> Read More</a>
                    </div>
  </div>